# Основные зависимости
backports.zstd  ==1.6.0
brotli          ==1.2.0
customtkinter   ==6.0.0
darkdetect      ==0.8.0
ggwave-wheels   ==0.4.2.5
inflate64       ==1.0.4
multivolumefile ==0.2.3
packaging       ==26.2
pip             ==26.1.2
psutil          ==7.2.2
py7zr           ==1.1.3
PyAudio         ==0.2.14
pybcj           ==1.0.8
pycryptodomex   ==3.23.0
pyppmd          ==1.3.1
texttable       ==1.7.0
